//Font chữ cho dự án
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: fontFiverr;
  src: url("../Assets/FontText/macan-bold.woff2");
}
#root {
  font-family: fontFiverr;
}
// end font chữ

// start Login
.render-login {
  .ant-modal-body {
    background-color: transparent !important;
    width: 448px !important;
    padding: 0 !important;
  }
}
// end Login

// header
.bg1 {
  background-color: #023a15;
  width: 100%;
}

header .header_menu {
  display: none;
}
//header search top
header .input_search {
  display: none;
  transition: 0.5s;
}

header.active .header_menu {
  display: block;
  transition: 0.5s;
}
.drop_down {
  position: relative;
  display: inline-block;
}

.button_exlore {
  cursor: pointer;
}
.content_dropdown {
  display: none;
  position: absolute;
  z-index: 5;
  background-color: white;
  color: white;
  padding: 20px 20px;
  left: -200px;
  border-radius: 10px;
  margin-top: 10px;
  transition: all 0.3s;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.button_exlore:focus + .content_dropdown {
  display: block;
}

.content_dropdown li:hover {
  color: #1dbf73 !important;
}

// hiệu ứng cuộn
.content_menu {
  font-weight: bold;
}
.content_menu p {
  font-family: serif;
  font-weight: 500;
}
.content_exlore {
  text-align: left;
  width: 400px;
}

header {
  transition: 1s;
  .content_menu h2 {
    color: #62646a;
  }
  .content_exlore ul li {
    color: #1dbf73 !important;
  }
  .content_menu li p {
    color: #b5b6ba;
  }

  .content_left {
    width: 50%;
  }
  .content_right {
    width: 50%;
  }
}

//hiệu ứng search
header.search {
  transition: 1s;
  background-color: white !important;
  .main_business {
    color: #1e1692;
  }
  .button_exlore {
    color: #62646a;
  }
  ul li {
    color: #62646a;
    transition: 0.5s;
  }
  ul li:hover h1 {
    color: #1dbf73;
    transition: 0.5s;
  }
  ul .exlore:hover .button_exlore {
    color: #1dbf73;
    transition: 0.5s !important;
  }
  g {
    fill: #404145;
  }
  g.dots_search {
    fill: #1dbf73;
  }
  .input_search {
    display: block;
    transition: 0.5s;
  }
  svg.icon_search {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
  }
  .search_box {
    border: 0.1px solid #222325;
    border-radius: 5px 0px 0px 5px;
  }
}

.freelance {
  font-family: DomaineDisplay, Helvetica Neue, Helvetica, Arial, sans-serif;
}

// ẩn nút chuyển banner
.slick-slider ul li {
  display: none !important;
}
// end ẩn nút chuyển banner

// end header

// các phần tử bên trong slider
.homepage {
  //đây là ô search
  .icon_homepgae {
    background-color: white;
    color: #95979d;
    padding: 0px 10px;
    border-radius: 8px 0px 0px 8px;
    color: #6b6b6d;
  }

  .input_homepgae button {
    border-radius: 0px 8px 8px 0px;
    transition: 0.5s;
  }
  .input_homepgae button:hover {
    background-color: #19a463;
  }
  //kêt thúc ô search
  // phía dưới ô search
  .item_popular {
    font-size: 14px;
    font-weight: 300;
    padding: 2px 10px;
    border: 0.5px solid white;
    border-radius: 16px;
  }

  // end ô search
}
// Trusted
.trusted {
  img {
    height: 70px;
    width: auto;
  }
}
//end trusted

// start CategoriesMenu
.menu_job {
  .job_type {
    font-weight: 400;
    transition: 0.5s;
    position: relative;
    transition: all 0.3s;
    &:hover .menu_job-item {
      display: block;
      transition: all 0.3s;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background: #1dbf73;
      transition: all 0.3s;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -50px;
      height: 70px;
      width: 100%;
      background: transparent;
      left: 0;
      transition: all 0.3s;
    }
    &:hover::after {
      display: block;
      transition: all 0.3s;
      cursor: pointer;
    }
    &:hover::before {
      width: 80%;
      transition: all 0.3s;
      cursor: pointer;
    }
    img {
      width: 48px;
      height: 48px;
      display: inline;
      margin-bottom: 10px;
    }
    .menu_job-item {
      display: none;
      position: absolute;
      z-index: 5;
      background-color: rgb(246, 241, 241);
      color: white;
      padding: 20px 20px;
      left: 0px;
      border-radius: 2px;
      margin-top: 8px;
      transition: all 0.3s;
      width: 300%;
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    }
  }
}

// start JobTitle
.job_title {
  .job_title-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    .item_hover {
      &:hover {
        color: #1dbf73;
      }
    }
  }
  .img_item {
    .job_title-img {
      display: flex !important;
    }
  }
}

.service_related {
  h2 {
    text-align: center;
    font-size: 24px;
    line-height: 130%;
    margin: 48px 0;
  }
  .tags {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    span {
      background-color: #efeff0;
      border-radius: 40px;
      color: #74767e;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.2;
      margin: 0 5px 15px;
      padding: 8px 10px;
    }
  }
}
// end JobTitle

// start JobDetail
.job_detail {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
// end JobDetail

// carousel popular
.popular_service {
  .swiper-button-next {
    color: black;
    background-color: white;
    padding: 15px 25px;
    position: absolute;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 50px;
  }
  .swiper-button-next:after {
    font-size: 20px;
    font-weight: 600;
  }
  .swiper-button-prev {
    color: black;
    background-color: white;
    padding: 15px 25px;
    position: absolute;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 50px;
  }

  .swiper-button-prev::after {
    font-size: 20px;
    font-weight: 600;
  }
  img {
    width: 100%;
    height: fit-content;
    transition: 0.5s;
  }
  img:hover {
    filter: brightness(120%) saturate(150%);
  }

  .item_text {
    padding: 15px 10px;
    color: white;
    position: absolute;
    top: 0;
    p {
      font-size: 13px;
    }
    h1 {
      margin-top: 2px;
      font-size: 25px;
    }
  }
}
// end carousel popular

// start React carousel
.slick-next::before {
  font-size: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #95979d !important;
}
.slick-prev::before {
  font-size: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #95979d !important;
}
// end React carousel

// start Selling
.selling {
  .selling-text {
    h2 {
      color: #404145;
      line-height: 120%;
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 20px;
    }
    ul {
      li {
        h6 {
          font-size: 18px;
          line-height: 140%;
          color: #404145;
          font-weight: 700;
        }
        p {
          color: #8e9096;
          font-size: 18px;
        }
      }
    }
  }
}
// end Selling

// start Video
.ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}
// end Video

// Start ServiceCard
.serviceCard {
  padding-top: 24px;
  .displayStyle {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    .service-Img {
      h5 {
        font-size: 20px;
        color: #95979d;
        padding-right: 20px;
      }
      img {
        width: 150px;
      }
    }
    p {
      font-size: 25px;
      color: #6b6b6d;
      font-weight: 700;
      padding: 20px 20px 0 0;
    }
  }
}
// end ServiceCard

// Start IconMarketplace
.icon-marketplace {
  h2 {
    margin: 100px 0 40px;
    padding-bottom: 24px;
    font-size: 32px;
    line-height: 120%;
  }
  ul {
    li {
      text-align: center;
      padding: 0 15px 0 15px;
      a {
        color: #1dbf73;
        transition: 0.5s;
        position: relative;
        &:hover {
          color: #1dbf73;
        }
        &::before {
          content: "";
          position: absolute;
          bottom: -18px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background: #1dbf73;
          transition: 0.3s;
        }
        &:hover::before {
          width: 120%;
        }
        img {
          width: 48px;
          height: 48px;
          display: inline;
          margin-bottom: 10px;
        }
      }
      p {
        color: #4a4a4a;
        font-weight: unset;
        font-size: 16px;
      }
    }
  }
}
// End IconMarketplace

// Start Footer
footer {
  h2 {
    padding-bottom: 20px;
  }
  .footer-text {
    a {
      padding-bottom: 16px;
      &:hover {
        text-decoration-line: underline;
        color: #1dbf73;
      }
    }
  }
}
// end Footer

// ADMIN

// start User

.ant-table-pagination-right {
  padding-top: 20px !important;
  justify-content: center !important;
}
